/*table box alignment start*/
table {
    border: 1px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #f6f8f8;
}

tr:nth-child(odd) {
    background-color: #fffeff;
}

/*table box alignment end*/