h1 {
	color:blue;
}
h3 {
	border : 2px solid green;
}

.style {
	border-style : dotted;
	}
.width {
	border-style : solid;
	border-width : 5px;

	}
.specific-width{
	border-style : solid;
	/*border-width : 10px 20px;*/
	border-width : 3px 5px 7px 9px;
}
.color {
	border-style : solid;
	border-width : 2px;
	border-color : #ff0000;
}
.specfic-color {
	border-style : solid;
	border-width : 10px 15px 20px 25px;
	border-color: red green blue yellow;
}
.shorthand {
	/*
	border-width : 5px;
	border-style : solid;
	border-color : #ff0000;
	*/
	height:100px;
	border: 5px  solid #ff0000;
}
.radius {
	height: 100px;
    width: 100px;
    border: 5px solid green;
    border-radius: 50px;
	margin: 0 auto;
}